<h1>Books</h1>
<tr>
<td></td>
</tr>


<h2>NEW book</h2>

<%= form_with model: @books do |f| %>
<label>Title</label>
<%= f.text_area :title %>
<label>Body</label>
<%= f.text_field :body %>
<%= f.submit 'Create Book' %>
<% end %>